<% include ../header %>
<header>
	<h1>Node JS - Socket IO</h1>
</header>
<section>
<div class="form-group" >
<form action="/contato/<%- id %>" method="post">
	<input type="hidden" name="_method" value="put">
	<label>Nome:</label>
	<input type="text" name="contato[nome]" value="<%- contato.nome %>" class="form-control">
	<label>E-mail:</label>
	<input type="text" name="contato[email]" value="<%- contato.email %>" class="form-control">
	<br/>
	<button type="submit" class="btn btn-success" >Atualizar</button>
</form>
</div>
</section>
<% include ../exit %>
<% include ../footer %>