<% include ../header %>
<header>
<h1>Node JS - Socket IO</h1>
</header>
<section>
<form action="/contato" method="post">
	<section>
		<input type="text" name="contato[nome]" placeholder="Nome" class="form-control">
		<br/>
		<input type="text" name="contato[email]" placeholder="E-mail" class="form-control">
		<br/>
		<button type="submit" class="btn btn-success" >Cadastrar</button>

	</section>
</form>
<br/>
<table class="table well">
	<thead>
		<tr>
		<th>Nome</th>
		<th>E-mail</th>
		<th>Ação</th>
		</tr>
	</thead>
	<tbody>
		<% contatos.forEach(function(contato, index) { %>
		<tr>
			<td><%- contato.nome %></td>
			<td><%- contato.email %></td>
			<td>
				<a href="/contato/<%- index %>" class="btn btn-success  btn-sm">Detalhes</a>
				<a href="/chat/<%- contato.email %>" class="btn btn-success  btn-sm">Conversar</a>
			</td>
		</tr>
		<% }) %>
	</tbody>
</table>
</section>
<% include ../exit %>
<% include ../footer %>