
<% include ../header %>

<script src="/socket.io/socket.io.js"></script>
<script>

	//socke that it will connect
	var socket = io.connect('http://localhost:3000');

	//listen to send-client emmit
	//client.emit('send-client', msg);
	socket.on('send-client', 
				function (msg) {
					//what will happen after recieve a message
					document.getElementById('chat').innerHTML += msg;
				}
	);

	//function that send message
	var enviar = function() {
		var nome = document.getElementById('nome').value;
		var msg = document.getElementById('msg').value;
		socket.emit('send-to-server', {nome: nome, msg: msg});
	};

</script>

<header>
	<h2>Ntalk - Chat</h2>
</header>

<section>
	<pre id="chat"></pre>
	<input type="hidden" id="nome" value="<%- usuario.nome %>">
	<input type="text" id="msg" placeholder="Mensagem">
	<button onclick="enviar();">Enviar</button>
</section>

<% include ../exit %>
<% include ../footer %>