
<% include ../header %>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/util.js"></script>
<script>

	//socke that it will connect
	var socket = io.connect(getUrl());

	//listen to send-client emmit
	//client.emit('send-client', msg);
	socket.on('send-client', 
				function (msg) {
					//what will happen after recieve a message
					document.getElementById('chat').innerHTML += msg;
				}
	);

	//function that send message
	var enviar = function() {
		var nome = document.getElementById('nome').value;
		var msg = document.getElementById('msg').value;
		socket.emit('send-to-server', {nome: nome, msg: msg});
	};

</script>

<header>
	<h1>Node JS - Chat</h1>
</header>

<section>
	<pre id="chat"></pre>
	<input type="hidden" id="nome" value="<%- usuario.nome %>">
	<input type="text" id="msg" placeholder="Mensagem" class="form-control">
	<br/>
	<button onclick="enviar();" class="btn btn-success">Enviar</button>
</section>

<% include ../exit %>
<% include ../footer %>