<% include ../header %>
<header>
<h1>Node JS - Socket IO</h1>
<h4>Bem-vindo!</h4>
</header>
<section>
<form action="/entrar" method="post">
<input type="text" name="usuario[nome]" placeholder="Digite o nome" class="form-control">
<br>
<input type="text" name="usuario[email]" placeholder="Digite o e-mail" class="form-control">
<br>
<button type="submit" class="btn btn-success">Entrar</button>
</form>
</section>
<% include ../footer %>